
# DATABASE
# Obtain from Supabase > Settings > Database > Connection string (URI)
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT_ID].supabase.co:5432/postgres

# STORAGE (Supabase)
# Obtain from Supabase > Settings > API
SUPABASE_URL=https://[PROJECT_ID].supabase.co
SUPABASE_KEY=[ANON_PUBLIC_KEY]
SUPABASE_BUCKET=crop-images

# SERVER
PORT=8000
